{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>APOLLO’S</title>
    <link rel="stylesheet" href="{% static 'apollos/css/home_admin.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'apollos/img/ApollosIcon.svg' %}">
</head>
<body>
    <div class="container">
        <!-- Side Panel -->
        <div id="side-panel" class="side-panel open">
            <button id="toggle-button" class="toggle-button">
                <img src="{% static 'apollos/img/BurgerIcon.svg' %}" alt="Menu Icon">
            </button>
            <div class="logo-container">
                <img src="{% static 'apollos/img/ApollosLogo.svg' %}" alt="Logo"> <!-- Replace with your logo -->
            </div>
            <div class="panel-items">
                <div class="separator"></div>
                <button class="panel-item" onclick="togglePanelContent('dashboard', this)">
                    <img src="{% static 'apollos/img/HomeIcon.svg' %}" alt="Home Icon">
                    Home
                </button>
                <div class="separator"></div>
                <button class="panel-item" onclick="togglePanelContent('read_online', this)">
                    <img src="{% static 'apollos/img/ReadOnlineIcon.svg' %}" alt="Read Icon">
                    Read Online
                </button>
                
                <button class="panel-item" onclick="togglePanelContent('trending', this)">
                    <img src="{% static 'apollos/img/TrendingIcon.svg' %}" alt="Trending Icon">
                    Trending
                </button>

                <button class="panel-item" onclick="togglePanelContent('saved', this)">
                    <img src="{% static 'apollos/img/SavedIcon.svg' %}" alt="Saved Icon">
                    Saved
                </button>
                <div class="separator"></div>
                
                <button class="panel-item-logout" onclick="logoutUser()">
                    Logout
                </button>
                

            </div>
            
        </div>

        <!-- Main Content Area -->
        <div class="main-content">
            <header class="main-header">
                <h1>A</h1>
                
                <div class="user-circle" id="user-circle" style="background-color: #748CAC;">
                    <span id="user-initials">?</span>
                </div>
            </header>
        
            <!-- Dashboard Content -->
            <div id="dashboard" class="content-panel">
                <h2>Welcome, {{ user.first_name }}!</h2> 
                
                <div class="stats2">
                    <div class="stat">
                        <h3>Current Titles</h3>
                        <p id="active-books-count">Loading...</p>
                    </div>               
                </div>
                <br>
                <h2>About</h2>
                <p>Welcome to APOLLOS, an advanced library management system designed to transform the way you access and manage resources. Whether you're a student, researcher, or avid reader, APOLLOS provides you with a powerful platform to explore an extensive collection of books, journals, theses, and more. With a user-friendly interface and intuitive features, APOLLOS makes it easier than ever to find, borrow, and manage your library resources from anywhere.

                    APOLLOS isn’t just about browsing books; it's about unlocking a world of knowledge. Our system allows users to seamlessly navigate through digital libraries, make informed choices about what to read or download, and access academic papers and research materials that are essential for study and learning.</p>  
                    <br>
                    <br>
                <h2>SUBMIT YOUR JOURNAL OR RESEARCH</h2>
                <p>If you're an author, researcher, or academic looking to publish your journal article, thesis, or dissertation, APOLLOS welcomes your contributions! Our platform offers a great opportunity to share your research with a wide audience and contribute to the growing collection of academic resources.

                    To submit your work for publication, simply email your journal, thesis, or any academic paper to the following address:</p>   
                <p1>apollos@edu.ph</p1>    
            
            </div>
        
            <!-- Read Online Content -->
            <div id="read_online" class="content-panel">
                <input type="text" id="search-bar" placeholder="Search" />
                <h2>Read Online</h2>
                
                <div id="book-list" class="book-list">
                    <!-- Books will be dynamically inserted here by JS -->
                </div>
            </div>      
            <!-- Saved Content -->
            <div id="saved" class="content-panel">
                <h2>Your Saved Titles</h2>
                <div id="book-list-fav" class="book-list">
                    <!-- Books will be inserted here by JavaScript -->
                </div>
            </div>
            
            <div id="trending" class="content-panel">
                <h2>Trending</h2>
                <div id="book-list-trending" class="book-list-trending">
                    <!-- Books will be dynamically inserted here by JS -->
                </div>
                
            </div>    
        </div> 

        <div id="book-modal" class="modal-book">
            <div class="modal-content-book">
                <span id="close-modal-book" class="close-book">&times;</span>
                <h2 id="modal-book-title"></h2>
                <div class="separator2"></div>
                <div class="modal-body">
                    <div class="modal-image">
                        <img id="modal-book-image" src="" alt="Book Image">
                    </div>
                    <div class="modal-info">
                        <p><strong>Title: </strong> <span id="modal-book-title2"></span></p>
                        <p><strong>Genre: </strong> <span id="modal-genre"></span></p>
                        <p><strong>Author/s: </strong> <span id="modal-authors"></span></p>
                        <p><strong>Publisher: </strong> <span id="modal-publisher"></span></p>
                        <p><strong>Published Date: </strong> <span id="modal-published-date"></span></p>
                        <p><strong>Description: </strong> <span id="modal-description"></span></p>
                        <p><strong>Page Count: </strong> <span id="modal-page-count"></span></p>
                        <p><strong>Material Type: </strong> <span id="modal-material-type"></span></p>
                    </div>
                </div>
                <div class="separator2"></div>
                <div class="modal-actions">
                    <button id="read-now-btn" style="display: none;">Read Now</button>
                    <button id="download-file-btn" style="display: none;">Download</button>
                    <button id="save-favorite-btn">Save</button>
                </div>
            </div>
        </div>

        <div id="book-modal-fav" class="modal-book">
            <div class="modal-content-book">
                <span id="close-modal-book-fav" class="close-book">&times;</span>
                <h2 id="modal-book-title-fav2"></h2>
                <div class="separator2"></div>
                <div class="modal-body">
                    <div class="modal-image">
                        <img id="modal-book-image-fav" src="" alt="Book Image">
                    </div>
                    <div class="modal-info">
                        <p><strong>Title: </strong> <span id="modal-book-title-fav"></span></p>
                        <p><strong>Genre: </strong> <span id="modal-genre-fav"></span></p>
                        <p><strong>Author/s: </strong> <span id="modal-authors-fav"></span></p>
                        <p><strong>Publisher: </strong> <span id="modal-publisher-fav"></span></p>
                        <p><strong>Published Date: </strong> <span id="modal-published-date-fav"></span></p>
                        <p><strong>Description: </strong> <span id="modal-description-fav"></span></p>
                        <p><strong>Page Count: </strong> <span id="modal-page-count-fav"></span></p>
                        <p><strong>Material Type: </strong> <span id="modal-material-type-fav"></span></p>
                    </div>
                </div>
                <div class="separator2"></div>
                <div class="modal-actions">
                    <button id="download-file-btn-fav" style="display: none;">Download</button>
                    <button id="remove-favorite-btn" class="remove-btn">Unsave</button>
                </div>
            </div>
        </div>

        <div id="book-modal-trend2" class="modal-book">
            <div class="modal-content-book">
                <span id="close-modal-book-trend" class="close-book">&times;</span>
                <h2 id="modal-book-title-trend22"></h2>
                <div class="separator2"></div>
                <div class="modal-body">
                    <div class="modal-image">
                        <img id="modal-book-image-trend2" src="" alt="Book Image">
                    </div>
                    <div class="modal-info">
                        <p><strong>Title: </strong> <span id="modal-book-title-trend2"></span></p>
                        <p><strong>Genre: </strong> <span id="modal-genre-trend2"></span></p>
                        <p><strong>Author/s: </strong> <span id="modal-authors-trend2"></span></p>
                        <p><strong>Publisher: </strong> <span id="modal-publisher-trend2"></span></p>
                        <p><strong>Published Date: </strong> <span id="modal-published-date-trend2"></span></p>
                        <p><strong>Description: </strong> <span id="modal-description-trend2"></span></p>
                        <p><strong>Page Count: </strong> <span id="modal-page-count-trend2"></span></p>
                        <p><strong>Material Type: </strong> <span id="modal-material-type-trend2"></span></p>
                    </div>
                </div>
                <div class="separator2"></div>
                <div class="modal-actions">
                    <button id="read-now-btn-trend2" style="display: none;">Read Now</button>
                    <button id="download-file-btn-trend2" style="display: none;">Download File</button>
                    <button id="save-favorite-btn-trend2">Save</button>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'apollos/js/home.js' %}"></script>
    <script>

    </script>



</body>    
</html>