<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APOLLO'S</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'apollos/css/landing.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'apollos/img/ApollosIcon.svg' %}">

</head>
<body>
    <main1>
        <div class="logo">
            <!-- Logo from static/img -->
            <img src="{% static 'apollos/img/ApollosLogo.svg' %}" alt="Logo">
        </div>
        <div class="landing-button-container">
            <a href="{% url 'login' %}"><button class="login-btn">Login</button></a>
            <a href="{% url 'register' %}"><button class="register-btn">Register</button></a>
        </div>
        
        <div class="front">
            <div class="left">
            <p class="left-aligned">
                <span class="black-text">Unlock a World of Knowledge:</span><br>
                <span class="blue-text">Seamlessly Manage Your <br> Library with Ease!</span>
                
            </p>
            <p class="landing-text">
                <span>Apollo's is a cutting-edge library management <br> system designed to streamline library operations.</span>
                <br>
                <button class="getstarted-btn">Get Started</button>
            </p>
            
            </div>
            <div class="landing-image">
                <img src="{% static 'apollos/img/LandingImage.svg' %}" alt="LandingImage">
            </div>  
        </div>
              

    </main1>
    <main2>
        <p class="quick-start"><br><br>
            <span class="quick-text">QUICK START</span>
            <br><br><br>
            <span class="learn">Learn how to navigate APOLLO’S</span><br><br><br>
        </p>   
        <div class="quick-start-container">
            <div class="quick-start-card">
                <img src="{% static 'apollos/img/QuickStart1.svg' %}" alt="QuickStart1"><br><br>
                <span class="QuickStart">1. Explore Catalogue</span><br><br><br>
                <span class="QuickStart2">Explore all catalogue because we have many interesting material </span>
            </div>
            <div class="quick-start-card">
                <img src="{% static 'apollos/img/QuickStart2.svg' %}" alt="QuickStart2"><br><br>
                <span class="QuickStart">2. Choose Material</span><br><br><br>
                <span class="QuickStart2">Select the material you would like to borrow or even reserve</span>
            </div>
            <div class="quick-start-card">
                <img src="{% static 'apollos/img/QuickStart3.svg' %}" alt="QuickStart3"><br><br>
                <span class="QuickStart">3. Book Appointment</span><br><br><br>
                <span class="QuickStart2">Select the date you would like to pick up the chosen material</span>
            </div>
            <div class="quick-start-card">
                <img src="{% static 'apollos/img/QuickStart3.svg' %}" alt="QuickStart3"><br><br>
                <span class="QuickStart">4. Pick up Material</span><br><br><br>
                <span class="QuickStart2">Pick up the material on the chosen date with ease and flexibility </span>
            </div>
        </div>    
    </main2>
    <main3>
        <div class="front-reverse">
            <p class="center-aligned">
                <span class="blue2-text">A</span><span class="gray-text">dvanced</span> <span class="blue2-text">P</span><span class="gray-text">latform</span> <span class="gray-text">for</span>
                <span class="blue2-text">O</span><span class="gray-text">rganizing</span> <span class="blue2-text">L</span><span class="gray-text">ibrary</span>
                <span class="blue2-text">L</span><span class="gray-text">ending</span> <span class="gray-text">and</span>
                <span class="blue2-text">O</span><span class="gray-text">rder</span> <span class="blue2-text">S</span><span class="gray-text">ystem</span>
            </p>
            </p>
            </div> 
        </div>
    </main3>
    <main4>
        <p>© Pamantasan ng Lungsod ng Maynila. All Rights Reserved.</p>
    </main4>
</body>
</html>
