<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'apollos/css/landing.css' %}">
</head>
<body>
    <main1>
        <div class="logo">
            <!-- Logo from static/img -->
            <img src="{% static 'apollos/img/ApollosLogo.svg' %}" alt="Logo">
        </div>
        <div class="landing-button-container">
            <button class="login-btn">Login</button>
            <button class="register-btn">Register</button>
        </div>
        <p class="left-aligned">
            <span class="black-text">Unlock a World of Knowledge:</span><br>
            <span class="blue-text">Seamlessly Manage Your <br> Library with Ease!</span>
        </p>
        <p class="landing-text">
            <span>Apollo's is a cutting-edge library management <br> system designed to streamline library operations.</span>
        </p>        



    </main1>
    <main>
        <p>This is the landing page of the application.</p>
    </main>
    
</body>
</html>
