{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APOLLO'S</title>
    <link rel="stylesheet" href="{% static 'apollos/css/register.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link rel="icon" type="image/x-icon" href="{% static 'apollos/img/ApollosIcon.svg' %}">
</head>
<body>
    <div class="logo">
        <!-- Logo from static/img -->
        <img src="{% static 'apollos/img/ApollosLogo.svg' %}" alt="Logo">
    </div>

    <div class="register-container">
        <h2>Sign Up</h2>

        <form method="POST" action="{% url 'register' %}">
            {% csrf_token %}

            <label for="first_name"></label>
            <input type="text" id="first_name" name="first_name" placeholder="First Name" required><br>

            <label for="last_name"></label>
            <input type="text" id="last_name" name="last_name" placeholder="Last Name" required><br>

            <label for="email"></label>
            <input type="email" id="email" name="email" placeholder="Email" required><br>

            <label for="password"></label>
            <input type="password" id="password" name="password" placeholder="Password" pattern="^[a-zA-Z0-9]{8,}$" title="Password must be at least 8 characters long and contain only alphanumeric characters." required><br>

            <!-- Send OTP button -->
            <button type="button" id="send-otp-btn" onclick="sendOTP()">Send OTP</button>

            <!-- Error message section (hidden initially) -->
            <div id="error-message" style="color: red; display: none;"></div>
            <div id="otp-message" style="color: rgb(0, 17, 255); display: none;"></div>

            <!-- OTP input field (hidden initially) -->
            <div id="otp-section" style="display: none;">
                <label for="otp"></label>
                <input type="text" id="otp" name="otp" placeholder="OTP" required><br>
            </div>

            <button type="submit" id="register-btn" style="display: none;">Register</button>

            <!-- Already have an account? Login -->
            <div id="login-link">
                <span>Already have an account? <a href="{% url 'login' %}">Login</a></span>
            </div>
        </form>
    </div>


    <script src="{% static 'apollos/js/register.js' %}"></script>
    <script>
        const sendOtpUrl = "{% url 'send_otp' %}";
    </script>


</body>
</html>
